.vertical-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.center {
  @extend .vertical-center;
  @extend .horizontal-center;
  transform: translate(-50%, -50%);
}

.mat-icon.center {
  transition-property: transform;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.icon20 {
  width: 20px !important;
  height: 20px !important;
}

.icon18 {
  width: 18px !important;
  height: 18px !important;
}

.icon14 {
  width: 14px !important;
  height: 14px !important;
  line-height: 14px !important;
}

.icon36 {
  width: 36px !important;
  height: 36px !important;
}

.icon30 {
  width: 30px !important;
  height: 30px !important;
}

.iconHeight36 {
  height: 36px !important;
}

.font18 {
  font-size: 18px !important;
}