<div class="top-navigation">

  <sidebar-button (openState)="openState($event)">
    <mat-icon svgIcon="menu" class="center icon14"></mat-icon>
  </sidebar-button>

  <a routerLink="">
    <img class="logo" [src]="assets.logo" alt="aibanizu" >
  </a>

  <div class="user-info" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">

    <button mat-mini-fab class="login" fxFlex="30" (click)="changeLanguage()">
      <mat-icon class="center icon18 font18">language</mat-icon>
    </button>

    <button mat-button class="login" fxFlex="70" (click)="login()">Login</button>

  </div>

</div>
