<div class="home-musicians-container title-separator">
  <div class="title">
    <main-title [matIcon]="'assignment'" [title]="'Musicians'"></main-title>
  </div>

  <div class="slideshow">
    <div class="image-wrapper">
      <div class="image" *ngFor="let musician of listMusician; index as i" (mousedown)="swipeHold($event)" (mouseup)="swipeRelease($event)">
        <img [style.left]="transform()" (transitionend)="i === 0 ? refreshPosition() : ''" [ngClass]="isTransitionAllowed ? 'transition' : ''" [src]="musician.image" draggable="false">
      </div>
    </div>
    <button (click)="prev()">prev</button>
    <button (click)="next()">next</button>
  </div>

</div>