@import 'common/theme.scss';

a {
  text-align: justify;
}

.title {
  position: relative;
  label {
    span {
      vertical-align: sub;
    }
  }
}

.list-article {
  margin-bottom: 20px;
  text-decoration: none;
  color: $primary-white;

  .text {
    label {
      font-size: 13px;
      font-weight: 600;
      cursor: pointer;
  
    }
    .date {
      font-size: 10px;
      font-weight: 300;
    }
  }

  img {
    object-fit: contain;
  }
}