// Import library functions for theme creation.
@import '~@angular/material/theming';
@import './color-variables.scss';

// Include non-theme styles for core.
@include mat-core();


@mixin base-theme($theme) {
  // Extract the palettes you need from the theme definition.
  $primary: map-get($theme, primary);
  // $background: map-get($theme, background);
  // $accent: map-get($theme, accent);

  // Define any styles affected by the theme.
  .menu-toggle-btn {
    // Use mat-color to extract individual colors from a palette.
    background-color: $base-background !important;
  }

  .top-navigation {
    background: $deep-background;
  }

  .mat-drawer {
    background-color: $base-background;
  }

  .mat-drawer-content {
    background: $deep-background;
  }

  .home-content {
    background-color: $base-background;
  }

  .text {
    color: $primary-white;
  }

  .link {
    text-decoration: none;
  }

  .mat-divider {
    background-color: $border-color;
  }

  .mat-expansion-panel {
    background: transparent;
    box-shadow: none;
    color: $primary-white;
    
    ::ng-deep .navigation-header > .mat-expansion-indicator::after {
      border-color: $primary-white !important;
    }

    ::ng-deep .mat-expansion-panel-body {
    
      .mat-list-item-content {
        // background: mat-color($background, 900) !important;
        background: rgba( 72, 46, 93, 255 ) !important;
      }
    }
  }

}
