/* You can add global styles to this file, and also import other style files */
@import './assets/scss/mat-button.scss';
@import './assets/scss/mat-icon.scss';
@import './assets/scss/mat-expansion.scss';
@import './assets/scss/mat-menu.scss';
@import './assets/scss/main.scss';



html, body { height: 100vh; box-sizing: border-box; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  overflow: hidden;
}

