@import 'common/theme.scss';

@include base-theme($dark-theme);


.mat-drawer-container {
  height: 100%;
}


mat-drawer {
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-property: width;
}

mat-drawer-content {
  @extend mat-drawer;
  transition-property: margin-left;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}

mat-drawer-content.content-opened {
  margin-left: 240px;
}

mat-drawer-content.content-closed {
  margin-left: 72px !important;
}

mat-drawer.drawer-opened {
  width: 240px;
}

mat-drawer.drawer-closed {
  width: 72px;
}
